### Question 1
Write two distinct ways of reversing the list without mutating the original list.

In [16]:
numbers = [1, 2, 3, 4, 5]     # [5, 4, 3, 2, 1]

In [24]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [28]:
list(reversed(numbers))

[5, 4, 3, 2, 1]

### Question 2
Given a number and a list, determine whether the number is included in the list.

In [30]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

In [31]:
number1 in numbers

False

In [32]:
number2 in numbers

True

### Question 3
Programmatically determine whether 42 lies between 10 and 100, inclusive. Do the same for the values 100 and 101.

In [33]:
10 <= 42 <= 100

True

In [34]:
10 <= 100 <= 100

True

In [35]:
10 <= 101 <= 100

False

In [ ]:
42 in range(10, 101)          # True
100 in range(10, 101)         # True
101 in range(10, 101)         # False

### Question 4
Given a list of numbers [1, 2, 3, 4, 5], mutate the list by removing the number at index 2, so that the list becomes [1, 2, 4, 5].

In [38]:
numbers = [1,2,3,4,5]

numbers.pop(2)

numbers

[1, 2, 4, 5]

In [ ]:
del numbers[2]
#also works

### Question 5
How would you verify whether the data structures assigned to the variables numbers and table are of type list?

In [39]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

In [40]:
isinstance(numbers, list)

True

In [41]:
isinstance(table, list)

False

### Question 6
Back in the stone age (before CSS), we used spaces to align things on the screen. If we have a 40-character wide table of Flintstone family members, how can we center the following title above the table with spaces?

In [42]:
title = "Flintstone Family Members"

In [54]:
title.center(40)

'       Flintstone Family Members        '

### Question 7
Write a one-liner to count the number of lower-case t characters in each of the following strings:

In [55]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

In [56]:
statement1.count('t')

2

In [57]:
statement2.count('t')

0

### Question 8
Determine whether the following dictionary of people and their age contains an entry for 'Spot':

In [58]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 402, 'Eddie': 10}

In [61]:
'Spot' in ages

False

### Question 9
We have most of the Munster family in our ages dictionary:

In [62]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

Add entries for Marilyn and Spot to the dictionary:

In [63]:
additional_ages = {'Marilyn': 22, 'Spot': 237}

In [65]:
ages.update(additional_ages)

In [66]:
ages

{'Herman': 32,
 'Lily': 30,
 'Grandpa': 5843,
 'Eddie': 10,
 'Marilyn': 22,
 'Spot': 237}